DATABASE_URL=sqlite:///./pakistan_funds.db
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx
HOST=0.0.0.0
PORT=8000

SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_LOGIN=9462f9001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-08d04e4512cc1a50dc85fd8d94f82f8782c33b2428d3f58ddbb33087b8227bba-IYTyVN7gdZr1jAF5
CONTACT_RECIPIENT_EMAIL=adilmaqsood501@gmail.com